"""	This file can be used as a template for your own local_settings.py which will be
 		imported by settings.py and override values specific for your own local development environment. 
		
		Your own local_settings.py should not be placed in version control."""

DEBUG = True

DATABASE_ENGINE = "mysql"
DATABASE_NAME = "yourdevelopmentdatabasename"
DATABASE_USER = "databaseuser"
DATABASE_PASSWORD = "databasepassword"
DATABASE_HOST = ""
DATABASE_PORT = ""