{% extends "base.html" %}

{% block title %}: Page Not Found (404){% endblock %}

{% block content %}

<p class="notice">Sorry! The page you were looking for wasn't found. Please check the url you used and try again.</p>

{% endblock %}

{% block side %}

<div id="side_links">
	<ul>
		<li id="aisle_link"><a href="/catalogue/aisle/">Go to the aisles list</a></li>
		<li><a href="/tips/">Website tips</a></li>
		<li><a href="/donations/">Donations to good causes</a></li>
		<li><a href="/future-dates/">Future FN order dates</a></li>
		<li><a href="/small-print/">Small print / Rules &amp; regs</a></li>
		<li><a href="/links/">Suma &amp; Infinity Catalogues</a></li>
	</ul>
</div>

{% endblock %}