{% extends "base.html" %}

{% load staticfiles %}

{% block title %}: Aisles{% endblock %}

{% block crumb %}<a href='/catalogue/aisle/'>Aisles</a>{% endblock %}

{% block content %}

    {% if aisle_list %}
        <ul id="aisle_list">
        {% for aisle in aisle_list %}
            <li><a href="/catalogue/aisle/{{ aisle.id }}/">{{ aisle.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No aisles are available.</p>
    {% endif %}

{% endblock %}

{% block side %}
    <div id="cart_content">
        {% include "cart.html" %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {var cart = new FNCart()});
        </script>
    </div>
    {% block review %}
        <form id="continue_form" action="/cart/review/" method="get"><input type="submit" value="Prepare for submission" id="continue_button" /></form>
    {% endblock %}
{% endblock %}
