{% load staticfiles ganalytics %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=8">
	<title>Fruity Nutters{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'stylesheets/main.css' %}" type="text/css" media="screen" title="Main styles" charset="utf-8" />

	<link rel="shortcut icon" href="{% static 'furniture/favicon.ico' %}" type="image/x-icon" />

	<script src="{% static 'javascript/prototype.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'javascript/fn_cart.js' %}" type="text/javascript" charset="utf-8"></script>

	{% block scripts %}{% endblock %}

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	{% ganalytics %}
</head>

<body>

<div id="wrapper">

	<div id="main_content">
		<h1><a href="/">Fruity Nutters</a></h1>

		<div id="crumb">
			{% block crumb %}{% endblock %}
		</div>
		{% load basic_logic %}
		{% if notifications %}
			<ul class="notifications">
			    {% for notification in notifications %}{% if "cart_"|IN:notification.type %}{% else %}<li class="{{ notification.type }}">{{ notification.content }}</li>{% endif %}
			    {% endfor %}
			</ul>
		{% endif %}

		{% block content %}{% endblock %}

	</div>

	{% block side %}{% endblock %}

</div>
</body>
</html>
