<h2>Your list thus far ...</h2>
<img src="/furniture/ajax-loader.gif" width="16" height="16" alt="Updating Cart" style="display:none" id="cart_load_indicator" />
{% load basic_logic %}
{% if notifications %}
	<ul class="notifications">
	    {% for notification in notifications %}{% if "cart_"|IN:notification.type %}<li class="{{ notification.type }}">{{ notification.content }}</li>{% endif %}
	    {% endfor %}
	</ul>
{% endif %}
<form action="/cart/update/" method="post" accept-charset="utf-8" id="cart_form">
	<p id="shopping_list_total" class="top">Total: <strong>£{{ cart.total }}</strong></p>
	{% if cart.numItems %}
		<ul id="shopping_list">
			{% for item in cart.cartitem_set.all reversed  %}
				<li>
					<div class="product">{{ item.product.name }} <span class="quantity">{% ifnotequal item.product.unit_number 1  %}{{ item.product.unit_number }}&nbsp;&times;&nbsp;{% else %} {% endifnotequal %}{{ item.product.measure_per_unit|floatformat:"-2" }}{{ item.product.measure_type }}</span></div>

					<span class="product_price"><span>&times;</span> {% if item.cart_bundle %}<input type="text" value="{{ item.quantity }}" class="quantity" disabled="disabled" />{% else %}<input type="text" name="{{ item.product.id }}" value="{{ item.quantity }}" class="quantity" id="product_{{ item.product.id }}" />{% endif %} <span class="total_product_price">£{{ item.line_total }}</span> <a href="/cart/{{ item.product.id }}/remove/" class="remove_item"><img src="/furniture/delete.png" width="16" height="16" alt="Remove item" title="Remove item from shopping list" /></a></span>

					{% if item.cart_bundle %}
						<ul class="bundle_items">
						{% for bundle_item in item.cart_bundle.cartitem_set.all %}
							<li>{{ bundle_item.product.name }}&nbsp;&times;&nbsp;{{ bundle_item.quantity }}</li>
						{% endfor %}
						</ul>
					{% endif %}
					
				</li>
			{% endfor %}
			
			{% for writein in cart.cartwriteinitem_set.all %}
			
				<li>
					<div class="writein">{{ writein.name }} <span class="code">{{ writein.code }}</span></div><a href="/cart/{{ writein.id }}/removewritein/" class="remove_item"><img src="/furniture/delete.png" width="16" height="16" alt="Remove item" title="Remove item from shopping list" /></a></span>
				</li>
			
			{% endfor %}
			
		</ul>
	{% else %}
		<p>Your list is currently empty</p>
	{% endif %}
	<p id="list_controls"><a href="#" id="empty_list">Empty list</a><input type="submit" value="Update" id="update_list_button" disabled="disabled" /></p>
	<p id="shopping_list_total" class="bottom">Total: <strong>£{{ cart.total }}</strong></p>
</form>

<form action="/cart/addwritein/" id="writein_form" method="post" accept-charset="utf-8">
	<p><a href="#" id="writein_opener">Add a custom 'write-in' item</a></p>
	{% if notifications %}
		<ul class="notifications">
		    {% for notification in notifications %}{% if "writein_"|IN:notification.type %}<li class="{{ notification.type }}">{{ notification.content }}</li>{% endif %}
		    {% endfor %}
		</ul>
	{% endif %}
	<div id="writein_elements" {% ifnotequal show_writein "True" %}style="display:none"{% endifnotequal %}>
		<p class="note">Want something not in the aisles? Use the <a href="http://sumawholesale.com/index.php/customer/account/login/">Suma</a> and <a href="http://www.zen17754.zen.co.uk/fn/Infinity%20-%20Jan09.pdf">Infinity</a> catalogues to add the Description &amp; Code below. Price will be confirmed on acknowledging the order.</p>
		<p id="writein_description_block"><label for="writein_description">Description</label><input type="text" name="writein_description" value="{{ writein_description }}" id="writein_description" /></p>
		<p id="writein_code_block"><label for="writein_code">Code</label><input type="text" name="writein_code" value="{{ writein_code }}" id="writein_code" /></p>
		<p><input type="submit" name="writein_submit" value="Add custom item" id="writein_submit" /></p>
	</div>
</form>