/*
    Rules for the moronic: IE6 specific rules.
*/

/* Tricks ie6 into hasLayout for these elements. */
* html #main_content ul#product_list li,
* html #cart_content ul#shopping_list li {
    zoom:1;
}

/* Corrects box model width problems for elements where padding is used. */
* html #cart_content {
    width:268px;
}
* html #main_content {
    width: 532px;
}