/*
    Best viewed with 4 soft tabs.
*/

@import "ie6win.css";

body {
    background: #cae5d0 url(/furniture/background_tile.gif) repeat-y top left;
    color:#222;
    margin:0;
    
    font-size:12px;
    line-height:18px;
    font-family: Verdana, Helvetica, sans-serif;
}

img {
    border:0;
}

p {
    margin:1em 0;
}

#wrapper {
    width:800px;
}

#main_content ul#product_list li .product_add input.quantity, 
#main_content ul#product_list li .product .bundle input.quantity,
#cart_content ul#shopping_list li .product_price input.quantity
{
    width:25px;
}

#main_content {
    float:left;

    background-color:#fff;
    width:502px;
    padding:17px 10px 10px 20px;
}
#main_content h1 {
    width:327px;
    height:36px;
        
    margin:0 auto 29px;
}
#main_content h1 a {
    display:block;
    height:100%;
    width:100%;
    text-indent:-9999px;
    background: transparent url(/furniture/fruitynutters_logo.gif) no-repeat top left;
}
#main_content h1 a:focus {
    outline:none;
}

#main_content a {
    color:#006633;
}

#main_content h2 {
    font-family: Palatino, Georgia, Times New Roman, Times, serif;
    font-size:16px;
    color: #666;
    font-weight:normal;
    clear:left;
}

#main_content .notice {
    padding:9px 20px 10px;
    
    background-color:#e7f3ea;
    color:#666;
    clear:left;
}
#main_content .notice a {
    color:#006633;
}

#main_content ul#product_list {
    list-style:none;
    margin:0;
    padding:0;
    clear:left;
}
#main_content ul#product_list li {
    overflow:hidden;
    padding:5px 4px;
}
#main_content ul#product_list li:hover {
    background-color:#e7f3ea;
}
#main_content ul#product_list li .product {
    float:left;
    width:325px;
    margin:0;
}
#main_content ul#product_list li .product .product_details {
    display:block;
    text-indent:10px;
    color:#666;
}
#main_content ul#product_list li .product .product_details img {
    vertical-align:middle;
    margin-bottom:2px;
}
#main_content ul#product_list li .product_add {
    float:right;
}
#main_content ul#product_list li .product_add input {
    width:75px;
    float:left;
}
#main_content ul#product_list li .product_add .total_product_price{
    display: block;
    float:left;
    width:42px;
    margin:0 3px;
    text-align:right;
}
#main_content ul#product_list li .product ul.bundle {
    padding:0;
    margin-left:2px;
}

#main_content #footer {
    margin-top:12px;
    padding-top:5px;
    width:100%;
    float: left;
    
    border-top:1px solid #d2d2d2;
}
#main_content #footer .key_item {
    margin-right:15px;
    
    font-family: Palatino, Georgia, Times New Roman, Times, serif;
    font-style:italic;
    font-size:11px;
    color:#666;
}
#main_content #footer .key_item img {
    vertical-align:middle;
    
    margin-right:2px;
    margin-bottom:2px;
}

#main_content ul#aisle_list {
    list-style:none;
    padding:0;
    margin:0;
    clear:left;
}
#main_content ul#aisle_list li {
    padding:5px 4px;
}
#main_content ul#aisle_list li a {
    text-decoration:none;
    color:#222;
}
#main_content ul#aisle_list li a:hover {
    text-decoration:underline;
    color:#50a863;
}

/* REVIEW FORM */
#main_content form#order_details {
    margin:0 4px;
    width:366px;
}
#main_content form#order_details label {
    display:block;
}
#main_content form#order_details input {
    display:block;
    width:246px;
}
#main_content form#order_details textarea {
    width:100%;
}
#main_content form#order_details input#submit_order {
    width:auto;
}
#main_content form#order_details span.secondary {
    width:246px;
    display:block;
}
#main_content form#order_details span.secondary label {
    font-size:10px;
    color:#666;
    display:inline;
}
#main_content form#order_details span.secondary input {
    display:inline;
    vertical-align:bottom;
    width:auto;
}
#main_content form#order_details p#submit_button_block {
    border-top:1px solid #d2d2d2;
    padding-top:10px;
}
#main_content form#order_details p#submit_button_block input {
    float:right;
}
#main_content form#order_details p#submit_button_block button {
    float:left;
}


/* VIRUTAL SHOP */
#main_content form#virtualshop_form {
    margin-bottom:10px;
    margin-left:12px;
}
#main_content form#virtualshop_form p#virtualshop_quantity_block {
    width:60px;
    float:left;
    margin-top:0;
    margin-right:12px;
    display:inline;
}
#main_content form#virtualshop_form p#virtualshop_quantity_block input {
    width:60px;
}
#main_content form#virtualshop_form p#virtualshop_description_block {
    float:left;
    margin-right:12px;
    margin-top:0;
    width:275px;
}
#main_content form#virtualshop_form p#virtualshop_description_block input {
    width:275px;
}
#main_content form#virtualshop_form label {
    display:block;
}
#main_content form#virtualshop_form p#virtualshop_submit_block {
    float:left;
    padding-top:6px;
}


/* CART */
#cart_content {
    float:left;
    width:238px;
    padding:82px 20px 10px 10px;
}
#cart_content h2 {
    float:left;
    
    margin-top:0;
    font-family: Palatino, Georgia, Times New Roman, Times, serif;
    font-weight:normal;
    font-style:italic;
    font-size:16px;
    color:#666;
}
#cart_content img#cart_load_indicator {
    float:right;
}
#cart_content a {
    color:#006633;
}
#cart_content a.remove_item {
    float:right;
}
#cart_content form {
    float:left;
    width:238px;
}
#cart_content ul#shopping_list {
    list-style:none;
    padding:0;
    margin:0;
}
#cart_content ul#shopping_list li {
    overflow:hidden;
    margin-bottom:6px;
}
#cart_content ul#shopping_list li .product {
    margin-top:0;
    float:left;
    width:123px;
}
#cart_content ul#shopping_list li .product .quantity {
    color:#666;
}
#cart_content ul#shopping_list li .product_price {
    float:right;
/*    display:block;*/
}
#cart_content ul#shopping_list li .product_price * {
    float:left;
    display:block;
}
#cart_content ul#shopping_list li .product_price input {
    margin-left:5px;
}
#cart_content ul#shopping_list li .product_price .total_product_price {
    display: block;
    float:left;
    width:42px;
    margin:0 3px;
    text-align:right;
}
#cart_content ul#shopping_list li .product_price a.remove_item {
    margin:2px 0 0;
}
#cart_content ul#shopping_list li .product_price a.remove_item img {

}
#cart_content ul#shopping_list li ul.bundle_items {
    margin-left:0;
    margin-top:2px;
    padding-left:0;
    float:left;
    
    font-size:11px;
    line-height:13px;
    color:#666;
}
#cart_content #shopping_list_total {
    text-align:right;
}
#cart_content #shopping_list_total.top {
    border-bottom:1px solid #a9beae;
    margin-bottom:10px;
    margin-top:0;
    padding-bottom:5px;
}
#cart_content #shopping_list_total.bottom {
    border-top:1px solid #a9beae;
    margin-top:10px;
    padding-top:5px;
}
#cart_content ul#shopping_list li .writein {
    width:220px;
    float:left;
    margin-top:0;
}
#cart_content ul#shopping_list li .writein .code {
    color:#666;
}

#cart_content form#writein_form {
    margin-bottom:10px;
    border-bottom:1px solid #a9beae;
    border-top:1px solid #a9beae;
}
#cart_content form#writein_form #writein_elements {}
#cart_content form#writein_form #writein_elements p.note {
    color:#666;
    font-size:11px;
    margin:0 0 1em;
}
#cart_content form#writein_form p#writein_code_block {
    width:60px;
    float:left;
    margin-top:0;
}
#cart_content form#writein_form p#writein_code_block input {
    width:60px;
}
#cart_content form#writein_form p#writein_description_block {
    float:left;
    margin-right:7px;
    margin-top:0;
}
#cart_content form#writein_form label {
    display:block;
}

#cart_content #list_controls {
    margin-top:30px;
    overflow:hidden;
}
#cart_content #update_list_button {
    float:right;
}
#empty_list {
    float:left;
}
#continue_form  {
/*    overflow:hidden;*/
    float:right;
    margin-right:20px;

    width:238px;
}
#continue_form #continue_button {
    float:right;
}

#cart_content ul.notifications {
    float:left;
    padding:0;
    margin-top:0;
    width:238px;
}
#main_content ul.notifications {
    padding:0;
    clear:left;
}
.notifications, .notifications li {
  list-style: none;
  list-style-type: none;
  margin-left: 0;
  margin-top:0;
}
.information, .error,.success, .warning, 
.cart_information, .cart_error, .cart_success, .cart_warning,
.writein_information, .writein_error, .writein_success, .writein_warning {
  margin-bottom: 0.4em;
  border: 1px solid #9bb8d9;
  padding: 6px 6px 6px 30px;
}
.information, .cart_information, .writein_information {
  background: #dedfff url('/furniture/information.png') 6px 0.7em no-repeat;
  color: #406299;
}
.error, .cart_error, .writein_error {
  background: #ffe1da url('/furniture/exclamation.png') 6px 0.7em no-repeat;
  border-color: #f34f4f;
  color: #be0b0b;
}
.success, .cart_success, .writein_success {
  background: #e2f9e3 url('/furniture/accept.png') 6px 0.7em no-repeat;
  border-color: #9c9;
  color: #080;
}
.warning, .cart_warning, .writein_warning {
  background:#fff8bf url('/furniture/error.png') 6px 0.7em no-repeat;
  border-color: #ffd324;
  color:#eb830c;
}

#side_links {
    float:left;
    width:238px;
    padding:82px 20px 10px 10px;
}
#side_links ul {
    list-style:none;
    margin:0;
    padding:0;
}
#side_links ul li {
    padding:3px 5px;
}
#side_links ul li#aisle_link {
    background:#50a863 url(/furniture/link_arrow.png) no-repeat center right;
    margin-bottom:12px;
}
#side_links a {
    display:block;
    text-decoration:none;
    color:#006633;
}
#side_links a:hover {
    text-decoration:underline;
}
#side_links ul li#aisle_link a {
    color:#ffffff;
}

#crumb {
    margin-bottom:8px;
    
    font-family: Palatino, Georgia, Times New Roman, Times, serif;
    font-size:16px;
    color: #666;
    width:350px;
    float:left;
}
#crumb a {
    color: #666;
}
#crumb a:hover {
    color:#50a863;
}
#crumb .active {
    color:#50a863;
}

.aisle_nav {
    float:right;
    color:#666;
}
#main_content .aisle_nav a {
    color:#50A863;
}