{% extends "admin/change_list.html" %}

{% load i18n admin_urls admin_static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "javascript/prototype.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/fn_admin_reset_items.js" %}" charset="utf-8"></script>

<script type="text/javascript">
// Sets up filter list to show/hide
Event.observe(window, 'load', function(event){
  $$('#changelist-filter h2').each(function(h2, index) {
    h2.observe('click', function(ev) {
      $$('#changelist-filter *').each(function(el, index) {
        if(el.tagName != 'H2') el.toggle  ();
      });
    });
  });
});
</script>

<style type="text/css" media="screen">
  #changelist-filter h2 {
    cursor:pointer;
  }
</style>
{% endblock %}

{% block object-tools-items %}
  <script>document.write('<li><a href="/catalogue/reset/" id="reset_items_button">Reset items</a></li>');</script>
  {{ block.super }}
{% endblock %}
