{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="/javascript/prototype.js"></script>
	<script type="text/javascript" src="/javascript/fn_admin_reset_items.js" charset="utf-8"></script>
	
  <script type="text/javascript">

	// Sets up filter list to show/hide
	Event.observe(window, 'load', function(event){
		$$('#changelist-filter h2').each(function(h2, index) {
			h2.observe('click', function(ev) {
				$$('#changelist-filter *').each(function(el, index) {
					if(el.tagName != 'H2') el.toggle	();
				});
			});
		});
	});

  
  </script>

<style type="text/css" media="screen">
	#changelist-filter h2 {
		cursor:pointer;
	}
</style>

	
{% endblock %}


{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../">{{ app_label|capfirst|escape }}</a> &rsaquo; {{ cl.opts.verbose_name_plural|capfirst|escape }}</div>{% endblock %}{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
{% block object-tools %}
{% if has_add_permission %}
<ul class="object-tools"><script>document.write('<li><a href="/catalogue/reset/" id="reset_items_button">Reset items</a></li>');</script><li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name|escape as name %}Add {{ name }}{% endblocktrans %}</a></li></ul>
{% endif %}
{% endblock %}
<div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
{% block search %}{% search_form cl %}{% endblock %}
{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

{% block filters %}
{% if cl.has_filters %}
<div id="changelist-filter">
<h2>{% trans 'Filter' %}</h2>
{% for spec in cl.filter_specs %}
   {% admin_list_filter cl spec %}
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block result_list %}{% result_list cl %}{% endblock %}
{% block pagination %}{% pagination cl %}{% endblock %}
</div>
</div>
{% endblock %}
